examples/*_opt
examples/*_max
examples/*_profile
*.html

examples/basics
examples/graphics
examples/plot
examples/equal
examples/random
examples/filecontents
examples/sizes
examples/vec
examples/unicode
examples/string_error
examples/not-a-snail
examples/mutex
examples/vectors_and_slices
examples/vertexgraphics
examples/logisticmap
examples/minmax
examples/null
examples/dbg
examples/draw_fill_rects
examples/draw_circle
