examples/*_opt
examples/*_max
*.html

examples/basics
examples/graphics
examples/plot
examples/equal
examples/random
examples/filecontents
examples/sizes
examples/vec
examples/unicode
examples/string_error
examples/not-a-snail
examples/mutex
examples/vectors_and_slices
